**/bin
**/obj
**/TestResults
.git
.github
.vs
.vscode
**/.local-tools
**/.env
**/.env.*
**/appsettings.Local.json
**/appsettings.*.Local.json
**/*.user
**/*.suo
**/*.log
**/*.pfx
**/*.publishsettings
work
outputs
