# Configuracion de SQL Server
DB_PASSWORD=Your_Super_Secret_Password_123!
SQL_PORT=14333

# Configuracion de la API
API_PORT=5142
JWT_KEY=TuClaveSuperSecretaParaDesarrolloQueDebeSerLarga
JWT_ISSUER=MiEmisorLocal
JWT_AUDIENCE=MiAudienciaLocal
